@model SizeEditVm

@{
	ViewData["Tittle"] = "Add/Edit Size";
}

<form method="post" asp-controller="Sizes" asp-action="Upsert">

	<h3 class="text-primary">@(Model.SizeId == 0 ? "Add New Size" : "Edit Size") </h3>
	<input type="hidden" asp-for="SizeId" />
	<div class="border p-3 bg-white">
		<div asp-validation-summary="ModelOnly" class="text-danger"></div>
		<div class="mb-3">
			<label asp-for="SizeNumber" class="form-control"></label>
			<input asp-for="SizeNumber" type="text" class=" form-control" />
			<span asp-validation-for="SizeNumber" class="text-danger"></span>
		</div>

		@if (Model.SizeId == 0)
		{
			<button type="submit" class="btn btn-primary">
				<i class="bi bi-floppy2-fill"></i>
				Save
			</button>
		}
		else
		{
			<button type="submit" class="btn btn-warning">
				<i class="bi bi-pencil"></i>
				Edit
			</button>

		}

		<a asp-controller="Sizes" asp-action="Index" class="btn btn-info">
			<i class="bi bi-backspace"></i>
			Back
		</a>

	</div>

</form>

@section Scripts {
	@{
		<partial name="_ValidationScriptsPartial" />
	}

}
