@model IEnumerable<ShoeHomeIndexVm>
@{
    ViewData["Title"] = "Home Page";
}
<div class="mx-auto max-w-7xl px-4 py-16 sm:px-6 lg:px-8">
    <h2 class="text-2xl font-bold tracking-tight text-gray-900">All</h2>

    <div class="row mt-6 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6">
        @foreach (var shoe in Model)
        {
            <div class=" col-lg-3 col-sm-6 mt-6 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6">
                <div class="row p-2">
                    <div class="col-12 p1">
                        
                            <div class="bg-white border p-4 rounded-lg shadow-lg group relative">
                                <div class="aspect-w-1 aspect-h-1 overflow-hidden rounded-md bg-gray-200 group-hover:opacity-75">
                                    <img src="@shoe.ImageUrl" alt="@shoe.Model" class="h-48 w-full object-cover object-center " style="width: 200px; height: 200px; object-fit: cover;">
                                </div>
                                <div class="mt-4 flex justify-between">
                                    <div>
                                        <h3 class="text-sm text-gray-700">
                                        <a href="#" class= "text-black">
                                                <span aria-hidden="true" class="absolute inset-0"></span>
                                                @shoe.Model
                                            </a>
                                        </h3>
                                        <p class="mt-1 text-sm text-gray-500">@shoe.Brand</p>
                                    </div>
                                    <p class="text-sm font-medium text-gray-900">$@shoe.Price</p>
                                </div>
                            </div>
                        
                    </div>
                </div>
                
            </div>
            
        }
    </div>
</div>