@using Shoes.Web.ViewModels.Brands
@model BrandEditVm

@{
	ViewData["Tittle"] = "Edit/New brand";
	bool imageExist = false;
	if (ViewData["imageExist"]!= null)
	{
		imageExist = (bool)ViewData["imageExist"]!;
	}
}

<form method="post" asp-controller="Brands" enctype="multipart/form-data">
	<div class="border p-3 mt-4">
		<div class="row pb-2">
			<h2 class="text-primary"> @(Model.BrandId == 0 ? "Add New Brand" : "Edit Brand")</h2>
			<input type="hidden" asp-for="BrandId" />
			<input type="hidden" asp-for="ImageUrl" />
		</div>
		<div class="row">
			<div class="col-8">
				<div asp-validation-summary="ModelOnly" class="text-danger"></div>
				<div class="mb-3">
					<label asp-for="BrandName"></label>
					<input asp-for="BrandName" class=" form-control" />
					<span asp-validation-for="BrandName" class="text-danger"></span>
				</div>
				<div class="form-group py-2">
					<label class="form-label" asp-for="ImageUrl"></label>
					<input type="file" class="form-control" asp-for="ImageFile" />
				</div>
			</div>
			<div class="col-4 text-center">
				@if (!string.IsNullOrEmpty(Model.ImageUrl))
				{
					if (imageExist)
					{
						<img src="@Model.ImageUrl" style="width:300px;height:300px; border:1px solid" />
						<div class="form-group py-2">
							<label class="form-label">Remove Image</label>
							<input type="checkbox" id="RemoveImage" name="RemoveImage" value="true" />
						</div>
					}else
					{
						<img src="~/images/defaultImage.jpg" style="width:300px;height:300px; border:1px solid" />

					}
				
				}else
				{
					<img src="~/images/defaultImage.jpg" style="width:300px;height:300px; border:1px solid" />
				}

			</div>
		</div>
		

			@if (Model.BrandId == 0)
			{
				<button type="submit" class="btn btn-primary">
					<i class="bi bi-floppy2-fill"></i>
					Save
				</button>
			}
			else
			{
				<button type="submit" class="btn btn-warning">
					<i class="bi bi-pencil"></i>
					Edit
				</button>

			}

			<a asp-controller="Brands" asp-action="Index" class="btn btn-info">
				<i class="bi bi-backspace"></i>
				Back
			</a>
	</div>
</form>
@section Scripts {
	@{
		<partial name="_ValidationScriptsPartial" />
	}
	<script>
		tinymce.init({
			selector: 'textarea',
			plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed linkchecker a11ychecker tinymcespellchecker permanentpen powerpaste advtable advcode editimage advtemplate ai mentions tinycomments tableofcontents footnotes mergetags autocorrect typography inlinecss markdown',
			toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | addcomment showcomments | spellcheckdialog a11ycheck typography | align lineheight | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
			tinycomments_mode: 'embedded',
			tinycomments_author: 'Author name',
			mergetags_list: [
				{ value: 'First.Name', title: 'First Name' },
				{ value: 'Email', title: 'Email' },
			],
			ai_request: (request, respondWith) => respondWith.string(() => Promise.reject("See docs to implement AI Assistant")),
		});
	</script>
}
